<%= render partial: "layouts/header"%>
<title>artists</title>
<style>
  * {
    box-sizing: border-box;
  }

  .container{
    max-width: 1170px;
  }
  .card-container .row {
    padding-top: 1rem;
    justify-content: center;
    row-gap: 2.5rem;
    column-gap: 1rem;
  }

  .card-container .col {
    min-width: 270px;
    max-width: 360px;
  }

  .card-container .card {
    -webkit-box-shadow: 0px 3px 15px rgba(22, 41, 124, 0.1);
    box-shadow: 0px 3px 15px rgba(22, 41, 124, 0.1);
    border-radius: 0;
    border: none;
  }

  .artist_pic {
    position: relative;
    height: 300px;
  }

  .card img {
    min-width: 100%;
    max-width: 330px;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
  }

  .card-body {
    padding: 45px 20px 25px;
    text-align: start;
    height: 170px;
  }

  .card-body h5 {
    font-size: 22px;
    font-weight: 700;
    color: #111111;
  }

  .card__btn {
    width: 50%;
    padding: 0.5rem 0.2rem;
    font-size: 1rem;
    text-align: center;
    background-color: white;
    border: 0.1rem solid red;
    cursor: pointer;
  }

  .read-more-btn {
    position: absolute;
    left: 0;
    bottom: -21px;
    width: 100%;
    text-align: center;
  }

  .card__btn a {
    color: #000000;
    text-decoration: none;
  }

  .card__btn:hover,
  .card__btn:active {
    background-color: #effaf6;
  }
</style>

  <body>
    <div class="container card-container" class="w-100">
      <div class="row">
        <div class="col col-lg-4  col-md-6">
          <div class="card">
            <div class="artist_pic">
              <img src="/assets/Amjad-Ali-Khan.jpeg" class="card-img-top" alt="Amjad Ali Khan">
              <div class="read-more-btn">
                <button class="card__btn"><a href="musician_info">Read More.. </a></button>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Amjad Ali Khan</h5>
              <p class="card-text">Sarod maestro has played a crucial role in popularizing the instrument worldwide.
              </p>
            </div>
          </div>
        </div>
        <div class="col col-lg-4  col-md-6">
          <div class="card">
            <div class="artist_pic">
              <img src="/assets/Anoushka-Shankar.jpeg" class="card-img-top" alt="Amjad Ali Khan">
              <div class="read-more-btn">
                <button class="card__btn"><a href="musician_info">Read More.. </a></button>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Anoushka Shankar</h5>
              <p class="card-text"> Sitar player and composer, known for exploring new musical territories.
              </p>
            </div>
          </div>
        </div>
        <div class="col col-lg-4  col-md-6">
          <div class="card">
            <div class="artist_pic">
              <img src="/assets/Bismillah-Khan.jpeg" class="card-img-top" alt="Amjad Ali Khan">
              <div class="read-more-btn">
                <button class="card__btn"><a href="musician_info">Read More.. </a></button>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Bismillah Khan</h5>
              <p class="card-text">Shehnai maestro, credited with elevating the shehnai to a classical concert stage
                instrument.
              </p>
            </div>
          </div>
        </div>
        <div class="col col-lg-4  col-md-6">
          <div class="card">
            <div class="artist_pic">
              <img src="/assets/Hariprasad-Chaurasia.jpeg" class="card-img-top" alt="Amjad Ali Khan">
              <div class="read-more-btn">
                <button class="card__btn"><a href="musician_info">Read More.. </a></button>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Hariprasad Chaurasia</h5>
              <p class="card-text">A globally acclaimed flutist, celebrated for his performances in Indian classical
                music.
              </p>
            </div>
          </div>
        </div>
        <div class="col col-lg-4  col-md-6">
          <div class="card">
            <div class="artist_pic">
              <img src="/assets/Kadri-Gopalnath.webp" class="card-img-top" alt="Amjad Ali Khan">
              <div class="read-more-btn">
                <button class="card__btn"><a href="musician_info">Read More.. </a></button>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Kadri Gopalnath</h5>
              <p class="card-text">Pioneer of Carnatic music on the saxophone.
              </p>
            </div>
          </div>
        </div>
        <div class="col col-lg-4  col-md-6">
          <div class="card">
            <div class="artist_pic">
              <img src="/assets/L-Subramaniam.jpeg" class="card-img-top" alt="Amjad Ali Khan">
              <div class="read-more-btn">
                <button class="card__btn"><a href="musician_info">Read More.. </a></button>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">L. Subramaniam</h5>
              <p class="card-text">Renowned violinist known for his contributions to both Indian and Western classical
                music.
              </p>
            </div>
          </div>
        </div>
        <div class="col col-lg-4  col-md-6">
          <div class="card">
            <div class="artist_pic">
              <img src="/assets/ravi-shankar.jpg" class="card-img-top" alt="Amjad Ali Khan">
              <div class="read-more-btn">
                <button class="card__btn"><a href="musician_info">Read More.. </a></button>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title"> Ravi Shankar</h5>
              <p class="card-text"> Pioneering sitar virtuoso who introduced Indian classical music to the Western
                world.
              </p>
            </div>
          </div>
        </div>
        <div class="col col-lg-4  col-md-6">
          <div class="card">
            <div class="artist_pic">
              <img src="/assets/Ronu-Majumdar.jpeg" class="card-img-top" alt="Amjad Ali Khan">
              <div class="read-more-btn">
                <button class="card__btn"><a href="musician_info">Read More.. </a></button>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title"> Ronu Majumdar</h5>
              <p class="card-text">A leading figure in Indian classical flute music.
              </p>
            </div>
          </div>
        </div>
        <div class="col col-lg-4  col-md-6">
          <div class="card">
            <div class="artist_pic">
              <img src="/assets/Shivkumar-Sharma.jpg" class="card-img-top" alt="Amjad Ali Khan">
              <div class="read-more-btn">
                <button class="card__btn"><a href="musician_info">Read More.. </a></button>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title"> Shivkumar Sharma</h5>
              <p class="card-text">A santoor maestro who popularized the instrument in Indian classical music.
              </p>
            </div>
          </div>
        </div>
        <div class="col col-lg-4  col-md-6">
          <div class="card">
            <div class="artist_pic">
              <img src="/assets/U-Srinivas.jpeg" class="card-img-top" alt="Amjad Ali Khan">
              <div class="read-more-btn">
                <button class="card__btn"><a href="musician_info">Read More.. </a></button>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">U. Srinivas</h5>
              <p class="card-text">A child prodigy who revolutionized the mandolin in Indian classical music.
              </p>
            </div>
          </div>
        </div>
        <div class="col col-lg-4  col-md-6">
          <div class="card">
            <div class="artist_pic">
              <img src="/assets/Vishwa-Mohan-Bhatt.jpg" class="card-img-top" alt="Amjad Ali Khan">
              <div class="read-more-btn">
                <button class="card__btn"><a href="musician_info">Read More.. </a></button>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title"> Vishwa Mohan Bhatt</h5>
              <p class="card-text">Grammy Award-winning musician known for inventing the Mohan Veena.
              </p>
            </div>
          </div>
        </div>
        <div class="col col-lg-4  col-md-6">
          <div class="card">
            <div class="artist_pic">
              <img src="/assets/Zakir-Hussain.jpg" class="card-img-top" alt="Amjad Ali Khan">
              <div class="read-more-btn">
                <button class="card__btn"><a href="musician_info">Read More.. </a></button>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Zakir Hussain</h5>
              <p class="card-text">World-renowned tabla player, known for his exceptional skill and contributions to world music.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </body>

  