<title>indtrument info</title>
<style>

</style>

<body>
    <div class="container info-container">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
        </div>
    </div>
</body>
