<title>indtrument info</title>
<style>

</style>

<body>
    <div class="container info-container  mt-5">
        <div class="row d-flex g-4 px-3 py-4">
            <div class="col-lg-6">
                <h2 class="mb-4">Tabla</h2>
                <img src="/assets/Musicians/Amjad-Ali-Khan.jpeg" class="card-img-top " alt="Amjad Ali Khan">
            </div>
            <div class="col-lg-6">
                <h2 class="mb-4">Audio Sample</h2>
                <audio controls>
                    <source src="/assets/tabla.mp3" type="audio/mp3" />
                      Your browser doesn't support this audio file. Here is a
                </audio>
            </div>
        </div>
    </div>
</body>
