<title>musician info</title>
<style>

* {
    box-sizing: border-box;
  }

  body {
    padding: 0;
    margin: 0;
  }

  /* personal information css */
  section h2 {
    font-weight: 600;
    font-size: 2.5rem;
  }

  .bio p {
    color: #111111;
    font-size: 1.1rem;
  }

  .bio p span {
    font-weight: 600;
  }

  /* Related Video css  */

  .related-videos .row{
    justify-content: center;
    gap: 0.5rem;
   }

  .related-videos img, 
  .related-artists .card {
    -webkit-box-shadow: 0px 3px 15px rgba(22, 41, 124, 0.1);
    box-shadow: 0px 3px 15px rgba(22, 41, 124, 0.1);
  }

  .related-videos h2{
    position: relative;
    left: 10%;
    margin-right: 10%;
  }

  .related-videos .col {
    min-width: 320px;
    max-width: 360px;
  }

  /* Related Artists css  */

  .card-container .row {
    justify-content: center;
  }

  .card-container .col {
    min-width: 270px;
    max-width: 360px;
  }

  .card-container .card {
    -webkit-box-shadow: 0px 3px 15px rgba(22, 41, 124, 0.1);
    box-shadow: 0px 3px 15px rgba(22, 41, 124, 0.1);
    border-radius: 0;
    border: none;
  }

  .artist_pic {
    position: relative;
    height: 300px;
  }

  .card img {
    min-width: 100%;
    max-width: 330px;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
  }

  .card-body {
    padding: 45px 10px 25px;
    height: 170px;
  }

  .card-body h5 {
    font-size: 22px;
    font-weight: 700;
    color: #111111;
  }

  .card__btn {
    width: 50%;
    padding: 0.5rem 0.2rem;
    font-size: 1rem;
    background-color: white;
    border: 0.1rem solid red;
    cursor: pointer;
  }

  .read-more-btn {
    position: absolute;
    left: 0;
    bottom: -21px;
    width: 100%;
    text-align: center;
  }

  .card__btn a {
    color: #000000;
    text-decoration: none;
  }

  .card__btn:hover,
  .card__btn:active {
    background-color: #dce4ff;
  }

  @media only screen and (max-width: 576px) {
    .bio {
      width: 90%;
    }

    .bio .row {
      padding: 1.5rem 0 !important;
    }

    .bio p {
      padding: 0 !important;
      font-size: 1rem;
    }

    .bio p:last-child {
      padding-bottom: 1.5rem !important;
    }

    section h2 {
      font-weight: 600;
      font-size: 1.8rem;
    }

    .bio .name {
      text-align: center;
      padding-top: 2rem;
    }
  }

  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

  @media screen and (min-width: 992px) {
  .related-videos h2{
    left: 18%;
  }
  .related-artists h2 {
    left: 18%;
  }
  }

  @media screen and (min-width: 1200px) {
    .related-videos h2{
    left: 3%;
  }
  .related-artists h2 {
    left: 8%;
  }
}

  @media screen and (max-width: 425px) {
    .related-videos h2{
    left: 0%;
  }
  .related-artists h2 {
    left: 0%;
  }
  } 

  

</style>

<body class="bg-light">

  <!-- personal information  -->
  <section class="container bio my-5 bg-white">
    <div class="row  px-5 py-4">
      <div class="col-md-6">
        <img src="/assets/Musicians/Zakir-Hussain.jpg" class="bio-img" alt="Zakir Hussain">
      </div>
      <div class="col-md-6">
        <h2 class="name mt-3 ">Zakir Hussain</h2>
      </div>
    </div>

    <p class="px-5"><span>Bio:</span> World-renowned tabla player, known for his exceptional skill and contributions to
      world
      music.</p>
    <p class="px-5"><span>Instrument:</span> Tabla </p>
    <p class="px-5"><span>Description:</span> The tabla, a fundamental instrument in Indian classical music, comprises
      two drums:
      the dayan (right-hand drum) made of wood, and the bayan (left-hand drum) often crafted from metal or clay.
      Each drum features a circular membrane that produces sound when struck. The tabla is celebrated for its
      versatility and the ability to produce a wide range of pitches and tones through various finger and palm
      techniques. Its complex rhythmic patterns and beats are integral to Hindustani classical music accompanying
      a myriad of musical genres and vocal performances.</p>
    <p class="px-5"><span>Genres:</span> Indian Classical, Fusion</p>
    <p class="px-5 pb-5"><span>Personal Info:</span> Zakir Hussain, born in 1951 in Mumbai, India, into a celebrated
      family of
      musicians, is the son of the legendary tabla player Alla Rakha. At a very young age, he began touring by age
      twelve and has since become a global icon in percussion, known for his virtuosic skill and cross-genre
      collaborations. Hussain's contributions to music have earned him numerous awards, including the prestigious
      Padma Bhushan, solidifying his status as a pioneer of world music.</p>
  </section>

  <!-- Related Youtube video  -->
  <section class="related-videos  mb-5 container">
    <h2>Videos</h2>

    <div class="row ">
      <div class="col col-md-4 col-sm-6 mt-3">
        <div class="youtube__item" style="margin-bottom: 0 !important;">
          <div class="youtube__item__pic set-bg"  data-setbg="/assets/artist6.png">
            <a href="https://www.youtube.com/watch?v=w1nCQ3vA3Jc" class="play-btn video-popup"><i
                class="fa fa-play"></i></a>
          </div>
        </div>
        </div>
        <div class="col col-md-4 col-sm-6 mt-3"> 
          <div class="youtube__item" style="margin-bottom: 0 !important;" >
          <div class="youtube__item__pic set-bg" data-setbg="/assets/artist7.png">
            <a href="https://www.youtube.com/watch?v=O2K0ptoYpuc" class="play-btn video-popup"><i class="fa fa-play"></i></a>
          </div>
        </div></div>
        <div class="col col-md-4 col-sm-6 mt-3"> 
          <div class="youtube__item" style="margin-bottom: 0 !important;">
            <div class="youtube__item__pic set-bg" data-setbg="/assets/artist10.png">
                <a href="https://www.youtube.com/watch?v=4GKEQMJ9jgE" class="play-btn video-popup"><i class="fa fa-play"></i></a>
          </div>
        </div></div>
      </div>
  </section>

  <!-- Related artists  -->

  <section class="container related-artists card-container mt-5" class="w-100">
    <h2>Tabla Artists</h2>
    <div class="row">
      <div class="col col-lg-4 col-md-6 col-sm-6 mt-3">
        <div class="card">
          <div class="artist_pic">
            <img src="/assets/Musicians/Amjad-Ali-Khan.jpeg" class="card-img-top" alt="Amjad Ali Khan">
            <div class="read-more-btn">
              <button class="card__btn"><a href="musician_info">Read More.. </a></button>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Amjad Ali Khan</h5>
            <p class="card-text">Sarod maestro has played a crucial role in popularizing the instrument worldwide.
            </p>
          </div>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-6 mt-3">
        <div class="card">
          <div class="artist_pic">
            <img src="/assets/Musicians/Anoushka-Shankar.jpeg" class="card-img-top" alt="Amjad Ali Khan">
            <div class="read-more-btn">
              <button class="card__btn"><a href="musician_info">Read More.. </a></button>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Anoushka Shankar</h5>
            <p class="card-text"> Sitar player and composer, known for exploring new musical territories.
            </p>
          </div>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-6 mt-3">
        <div class="card">
          <div class="artist_pic">
            <img src="/assets/Musicians/Bismillah-Khan.jpeg" class="card-img-top" alt="Amjad Ali Khan">
            <div class="read-more-btn">
              <button class="card__btn"><a href="musician_info">Read More.. </a></button>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Bismillah Khan</h5>
            <p class="card-text">Shehnai maestro, credited with elevating the shehnai to a classical concert stage
              instrument.
            </p>
          </div>
        </div>
      </div>
  </div>
  </section>
</body>