<title>musician info</title>
<style>

</style>

<body>
    <section class="container">
        <div class="row d-flex g-4">
            <div class="col-6">
                <img src="/assets/Musicians/Zakir-Hussain.jpg" class="bio-img" alt="Zakir Hussain">
            </div>
            <div class="col-6">
                <h2>Zakir Hussain</h2>
            </div>
        </div>



    </section>
</body>