<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
            <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="header__logo" style="opacity: 1;">
                            <%# <a href="index.html.erb"> %>
                                 <%# <%= image_tag 'websiteicon.jpg', alt: 'Logo' %>
                                <%# <h2>LOGO</h2> %>
                            <%# </a> %>
                            <%= image_tag 'websiteicon.jpg', alt: 'Logo' %>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-10">
                        <div class="header__nav">
                            <nav class="header__menu mobile-menu">
                                <ul>
                                    <li class="active"><a href="/">Home</a></li>
                                    <li><a href="/landing/about">About</a></li>
                                    <li><a href="/landing/artists">Artist</a></li>
                                    <li><a href="./tours.html">Instrument</a></li>
                                    <li><a href="./videos.html">Videos</a></li>
                                    <li><a href="./contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div id="mobile-menu-wrap"></div>
            </div>
        </header>
</body>
</html>