<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header class="wrapper bimage">
        <h1 class="logo">Amazing Musicians</h1>
        <h1 class="logo_2">AM</h1>
        <div class="login_btn">
            <a class="cta" href=""><button class="btn_sign btn_2">Login</button></a>
        </div>
        <div class="login_btn">
            <a class="cta" href=""><button class="btn_sign">Sign Up</button></a>
        </div>
    </header>

    <div class="main_dropdown_container" >
        <div class="dropdown_logo_bar_li" onclick="toggle_bar()" id="toggle_bar"><i
                class="fas fa-bars dropdown_logo_bar bar "></i></div>
        <nav class="navbar_container toggle">
            <div class="main_navbar">
                <ul class="main_navbar_ul">
                    <li class="navbar_level_1_li"><a href="/" class="navbar_level_1_link">HOME</a></li>
                    <li class="navbar_level_1_li"><a href="/landing/about" class="navbar_level_1_link">ABOUT</a></li>
                    <li class="navbar_level_1_li"><a href="/landing/artists" class="navbar_level_1_link">ARTISTS</a></li>
                    <li class="navbar_level_1_li"><a href="/landing/instruments" class="navbar_level_1_link">INSTRUMENTS</a></li>
                    <li class="navbar_level_1_li"><a href="/landing/instruments" class="navbar_level_1_link">CONTACT US</a></li>
                    <li class="navbar_level_1_li"><a href="" class="navbar_level_1_link">LOGIN</a></li>
                    <li class="navbar_level_1_li"><a href="" class="navbar_level_1_link">SIGN UP</a></li>
                </ul>
            </div>

        </nav>
    </div>

    <script>

        let toggle = document.getElementsByClassName('toggle_bar');

        function toggle_bar() {

            let element = document.querySelector(".toggle");
            element.classList.toggle("show")

            let element2 = document.querySelector(".bar")
            element2.classList.toggle("bar2")

        }

    </script>
</body>

</html>